Repository imsus/laravel-inertia-vitesse: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, pint

eslint:
  run: node_modules/.bin/eslint --fix {staged_files}

pint:
  run: vendor/bin/pint

Change script
  .github/workflows/main.yaml
  package.json
Due: eslint

Change npm script for test
  package.json
Due: eslint

laravel test
  .github/workflows/main.yaml
Due: eslint

Remove 'run' in vitest
  package.json
Due: eslint

PWA
  resources/static/android-chrome-192x192.png
  resources/static/android-chrome-512x512.png
  resources/static/apple-touch-icon.png
  resources/static/favicon-16x16.png
  resources/static/favicon-32x32.png
  resources/static/favicon.ico
  resources/views/app.blade.php
  vite.config.ts
Due: eslint, pint

vendor: update dependencies
  composer.json
  composer.lock
  package.json
  pnpm-lock.yaml
Due: eslint

chore: added commitlint
  .gitignore
  commitlint.config.js
  lefthook.yml
Due: eslint

style: formatting
  .styleci.yml
  tsconfig.json
Due: eslint

chore: update run to runner in lefthook
  lefthook.yml
Due: eslint

chore: update runner to run in lefthook
  lefthook.yml
Due: eslint

build: update dependencies
  package.json
  pnpm-lock.yaml
  resources/scripts/auto-imports.d.ts
  tsconfig.json
Due: eslint

chore: add funding
  .github/FUNDING.yml
  .vscode/settings.json
Due: eslint

build: update lock for bun
  .github/FUNDING.yml
  bun.lockb
Due: eslint

docs: Update Readme and License
  LICENSE.md
  README.md
Due: none

feat: error page + layout + commitlint
  .eslintrc
  .npmrc
  .vscode/settings.json
  app/Exceptions/Handler.php
  app/Http/Kernel.php
  app/Http/Middleware/HandleInertiaRequests.php
  bun.lockb
  composer.json
  composer.lock
  config/seo.php
  pnpm-lock.yaml
  public/vendor/horizon/app-dark.css
  public/vendor/horizon/app.css
  public/vendor/horizon/app.js
  public/vendor/horizon/img/favicon.png
  public/vendor/horizon/img/horizon.svg
  public/vendor/horizon/img/sprite.svg
  public/vendor/horizon/mix-manifest.json
  resources/scripts/main.ts
  resources/scripts/unocss/form-preflight.js
  resources/views/app.blade.php
  resources/views/layouts/blank-layout.vue
  resources/views/layouts/default-layout.vue
  resources/views/pages/about.vue
  resources/views/pages/error-page.vue
  resources/views/pages/welcome.vue
  routes/web.php
  tsconfig.json
  unocss.config.ts
  vite.config.ts
Due: eslint, pint

build: readd bun lock files
  bun.lockb
Due: none

style: format blade with shufo/blade-formatter
  resources/views/app.blade.php
Due: pint

refactor: move serverToast logic from layout to page
  resources/views/layouts/blank-layout.vue
  resources/views/pages/welcome.vue
Due: eslint

refactor: move logic from route closure to controller
  app/Http/Controllers/ErrorController.php
  app/Http/Controllers/PageController.php
  resources/views/pages/welcome.vue
  routes/api.php
  routes/web.php
Due: eslint, pint

feat: enable unocss icons
  package.json
  pnpm-lock.yaml
  resources/views/components/DarkModeToggler.vue
  resources/views/layouts/default-layout.vue
  unocss.config.ts
Due: eslint

fix: darkmode in form preflight
  resources/scripts/unocss/form-preflight.js
Due: eslint

feat: add form page sample
  app/Http/Controllers/PageController.php
  resources/views/pages/form-page.vue
  resources/views/pages/welcome.vue
  routes/web.php
Due: eslint, pint

build: update bun lockfile
  bun.lockb
Due: none

Path conditions:
  eslint: any of: *.{html,css,js,jsx,ts,vue,json,yml,yaml}
  pint: any of: *.{php,blade.php}
